.colorcode1 {
    color: #5D4037;
}

.colorcode2 {
    color:#4E342E;
}

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

html,
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}